/***========== FONTS ==========***/
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/LatoLight.eot');
    src: url('../fonts/LatoLight.eot') format('embedded-opentype'),
         url('../fonts/LatoLight.woff2') format('woff2'),
         url('../fonts/LatoLight.woff') format('woff'),
         url('../fonts/LatoLight.ttf') format('truetype'),
         url('../fonts/LatoLight.svg#LatoLight') format('svg');
}
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoRegular.eot');
    src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
         url('../fonts/LatoRegular.woff2') format('woff2'),
         url('../fonts/LatoRegular.woff') format('woff'),
         url('../fonts/LatoRegular.ttf') format('truetype'),
         url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
}
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold.eot');
    src: url('../fonts/LatoBold.eot') format('embedded-opentype'),
         url('../fonts/LatoBold.woff2') format('woff2'),
         url('../fonts/LatoBold.woff') format('woff'),
         url('../fonts/LatoBold.ttf') format('truetype'),
         url('../fonts/LatoBold.svg#LatoBold') format('svg');
}
@font-face {
    font-family: 'GothamBlack';
    src: url('../fonts/GothamBlack.eot');
    src: url('../fonts/GothamBlack.eot') format('embedded-opentype'),
         url('../fonts/GothamBlack.woff2') format('woff2'),
         url('../fonts/GothamBlack.woff') format('woff'),
         url('../fonts/GothamBlack.ttf') format('truetype'),
         url('../fonts/GothamBlack.svg#GothamBlack') format('svg');
}
@font-face {
    font-family: 'brandongrotesquebold';
    src: url../('fonts/brandongrotesquebold.eot');
    src: url../('fonts/brandongrotesquebold.eot') format('embedded-opentype'),
         url../('fonts/brandongrotesquebold.woff2') format('woff2'),
         url../('fonts/brandongrotesquebold.woff') format('woff'),
         url../('fonts/brandongrotesquebold.ttf') format('truetype'),
         url../('fonts/brandongrotesquebold.svg#brandongrotesquebold') format('svg');
}
/***========== HEADER ==========***/
header {
    font: 0.964em 'LatoRegular';
    text-transform: uppercase;
    padding: 25px 0 20px;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 10;
}
ul {
    list-style: none;
}
header li {
    display: inline;
}
header a {
    padding: 9px 18px;
    color: #868686;
    transition: background 1s cubic-bezier(0.23, 1, 0.32, 1);
}
header a:hover {
    background: #ffbb42;
    color: #fff;
    border-radius: 3px;
}
a:hover,
a:focus {
    text-decoration: none;
}
.fa-eercast {
    font-size: 47px;
    color: #f6772c;
}
/***========== FORM ==========***/
#form {
    background: #709dca;
    padding: 170px 0 100px;
}
#form h1, #form h4 {
    color: #fff;
    text-align: center;
}
#form h1 {
    font: 2.5em 'GothamBlack';
    text-transform: uppercase;
    margin-bottom: 0;
}
#form h4 {
    font: 1.2em 'LatoLight';
    padding-bottom: 10px;
    margin-top: 0;
}
h2 {
    font: 2.143em 'GothamBlack';
    text-transform: uppercase;
    margin-bottom: 0; 
}
h4 {
    font: 1.2em 'LatoLight';
    padding-bottom: 50px;
    margin-top: 0;
}
#form input, #form button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#form i {
    cursor: pointer;
}
#form input:focus, #form button:focus {
    outline: none;
}
#form input {
    font: 0.929em 'LatoRegular';
    color: #868686;
    text-indent: 40px;
}
button[type="submit"] {
    font: 1em 'LatoRegular';
    text-transform: uppercase;
    background: #ffbb42;
    color: #fff;
}
.fa-user,
.fa-envelope,
.fa-phone {
    font-size: 1.3em;
    color: #6e6e6e;
    position: absolute;
    top: 14px;
    left: 30px;
}
*::-webkit-input-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
*:-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
*::-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
*:focus::-webkit-input-placeholder {
    color: transparent;
}
*:focus:-moz-placeholder {
    color: transparent;
}
*:focus::-moz-placeholder {
    color: transparent;
}
*:focus:-ms-input-placeholder {
    color: transparent;
}
.fotorama {
    margin-top: 70px;

}
.fotorama img {
    border: 2px solid #868686 !important;
    border-radius: 5px !important;

}
/***========== SERVICES ==========***/
#services {
    padding: 110px 0 90px;
}
#services h2, #services h4 {
    color: #394b50;
    text-align: center;
}
#services h3 {
    font: 1.143em 'LatoBold';
    text-transform: uppercase;
    color: #394b50;
    padding-left: 80px;
}
#services p {
    font: 0.929em 'LatoRegular';
    color: #7b7b7b;
    padding: 0 70px 45px 80px;
    line-height: 20px;
}
.fa-clock-o,
.fa-cog,
.fa-graduation-cap,
.fa-rocket,
.fa-renren,
.fa-usd {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 50px;
    color: #709dca;
}
/***========== ABOUT_US ==========***/
#about_us {
    background: #ffc155;
    position: relative;
    padding-bottom: 180px;
}
#about_us::before {
    content: '';
    background: url(../images/table.jpg) no-repeat center center / cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
}
#about_us h2 {
    color: #fff;
    padding: 135px 0 0 65px;
}
#about_us p {
    font: 0.929em 'LatoRegular';
    color: #fff;
    padding: 0 0 50px 65px;
    line-height: 25px;
}
#about_us a {
    color: #fff;
    text-transform: uppercase;
    font: 1em 'LatoRegular';
    border: 1px solid #e7ad48;
    border-radius: 3px;
    padding: 15px 30px;
    margin-left: 65px;
    transition: all .3s;
}
#about_us a:hover {
    font-size: 1.1em;
}
/***========== PRICE ==========***/
#price {
    background: #e7edf3;
    padding: 110px 0 170px;
    text-align: center;
}
#price h2 {
    color: #394b50;
}
#price h4 {
    color: #75888d;
}
div[class^="set"] {
    background: #fff;
    border: 1px solid #ccd5df;
    border-radius: 3px;
    text-transform: uppercase;
    padding-bottom: 50px;
    width: 95%;
    transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
div[class^="set"]:hover {
    background: #709dca;
    width: 100%;
    padding-bottom: 65px;
    margin-top: -15px;
}
div[class^="set"]:hover h3,
div[class^="set"]:hover p,
div[class^="set"]:hover li {
    color: #fff !important;
}
#price h3, #price p {
    color: #818b95;
}
#price h3 {
    font: 1.786em 'LatoLight';
    padding-top: 30px;
}
#price p.cost {
    font: 4.286em 'LatoBold';
    color: #ffbb42;
    margin: 0;
}
#price p {
    font: 1em 'LatoLight';
    margin: 0;
}
#price ul {
    font: 0.964em 'LatoRegular';
    color: #b5bbc1;
    padding: 0;
    margin: 40px 30px;
}
#price li {
    padding: 10px 0;
    border-top: 1px solid #e2e9f0;
}
#price a {
    font: 1em 'LatoRegular';
    color: #fff;
    background: #ffbb42;
    padding: 12px 22px;
    border-radius: 3px;
}
/***========== WORK ==========***/
#work {
    text-align: center;
    padding: 110px 0 160px;
}
#work h2, #work h4, #work h3 {
    color: #394b50;
}
.fa-headphones,
.fa-unlock-alt,
.fa-cloud-upload,
.fa-thumbs-up {
    font-size: 5.143em;
    color: #709dca;
    padding: 33px 0 65px;
}
#work h3 {
    font: 1.429em 'LatoBold';
    text-transform: uppercase;
}
#work p {
    font: 0.929em 'LatoRegular';
    color: #7b7b7b;
    padding: 0 30px;
    line-height: 22px;
}
#work a {
    font: 1em 'LatoRegular';
    color: #fff;
    text-transform: uppercase;
    background: #ffbb42;
    padding: 15px 27px;
    border-radius: 3px;
}
.work_btn {
    margin-top: 90px;
}
/***========== CLIENTS ==========***/
#clients {
    background: #ffc155;
    padding: 110px 0 110px;
}
#clients h2, #clients h4 {
    color: #fff;
    text-align: center;
}
.clients {
    background: #fff;
    border-radius: 3px;
}
.clients img {
    border-radius: 50%;
    width: 125px;
    margin: 40px 30px;
}
.clients p {
    font: 0.929em 'LatoRegular';
    color: #7b7b7b;
    line-height: 25px;
    padding: 40px 50px 5px;
}
.clients h3 {
    font: 1em 'LatoBold';
    color: #99a9ae;
    text-transform: uppercase;
    padding-bottom: 45px;
}
.name {
    color: #f6772c;
}

/***========== SECTION ==========***/



/***========== MEDIA ==========***/
@media screen and (max-width:1200px) {
    
}
@media screen and (max-width:992px) {
    
}
@media screen and (max-width:768px) {
    
}
@media screen and (max-width:480px) {
    
}
@media screen and (max-width:320px) {
    
}